@charset 'UTF-8';

$small: 30em;
$blue: #1296E0;
$pink: #EA1571;

@import "components/page";
@import "components/icons";
@import "components/cube";
@import "components/content";
@import "components/gallery";