.scoreCard {
    padding: 0.5em 1em;
    display: flex;
}
.scoreCard .turnActions,
.scoreCard .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.scoreCard .turnActions > button {
    margin: 0.25em 0;
}
.scoreCard .score {
    font-size: 3em;
}
.scoreCard .teamStats {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.scoreCard .name {
    text-transform: capitalize;
}
.scoreCard figure.counter {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.scoreCard .dots {
    min-height: 1.625em;
}
