
html {
	-webkit-text-size-adjust: 100%;
}

body {
	color: $textColor;
	//-webkit-overflow-scrolling: touch;
} 

img {
	max-width: 100%;
}

header .inner {
	position: relative;
}

h1 {
	font-size: 3.25em;
	line-height: 1em;
	margin: 0.5em 0;
	perspective-origin: 17% 75%;
	perspective: 0.75em;
	width: 5em;

	p {
		font-size: 0.35em;
		margin: 0;
		line-height: 1.625em;
	}

	span {
	    display: inline-block;
	    transition: all 200ms ease-out;
	    
	    &:first-of-type {
	        transform: rotateY(0deg) translateX(0);
	    }
	    &:last-of-type {
	        transform: rotateY(0deg) translateX(0);
	    }
	}
	  
	&:hover {
	    span {
	      	&:first-of-type {
	        	transform: rotateY(-14deg) translateX(-0.25em);
	      	}
	      	&:last-of-type {
	        	transform: rotateY(6deg) translateX(-0.325em);
	      	}
	    }
	}
}

.avatar {
	position: absolute;
	border-radius: 50%;
	right: 0;
	top: 0;
	width: 17%;
	min-width: 100px;
}

h2 {
	font-size: 2em;
}

#work .headline {
	padding: 0 1.5em;
}

h3 {
	font-size: 1.625em;
	line-height: 1em;
	margin: 1em 0;
	
	p {
		font-size: 0.55em;
		margin: 0;
	}
}

a {
	text-decoration: none;
	color: $linkColor;

	&:hover {
		color: $linkHover;
	}
}

nav {
	a {
		border-left: 1px solid #333;
		padding-left: 0.65em;
		margin-left: 0.5em;

		&:first-child {
			border: 0;
			padding: 0;
			margin: 0;
		}
	}
}


.face {
	padding: 1.5em;
} 

.inner {
	max-width: 48em;
	margin: 0 auto;
}

.screenshots {
	width: 5em;
	float: right;
	margin-top: 0.25em;
	font-size: 2.5em; 
	text-align: right;
	position: relative;
	z-index: 30;

	a {
		margin: 0 0 0.5em 0.25em;
		display: inline-block;
	}

	&:before {
		content: "Screencaptures";
		font-size: 0.25em;
		position: absolute;
		position: a;
		right: 0;
		top: -3em;
	}
}

@media screen and (max-width: $small) {
	body { 
		font-size: 0.875em;
	}

	h1 {
		margin: 0 0 0.5em;
		font-size: 2.5em;
	}
	.screenshots {
		float: none;
		width: auto;
		text-align: left;
		margin: 0;

		a {
			margin: 0 0.5em 0 0;
		}

		&:before {
			right: auto;
			left: 0;
		}
	}
}

h1, h2, h3, h4, h5, h6, p, nav a, .screenshots:not(.active-gallery) {
	-webkit-transition-property: filter, -webkit-filter;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease-in; 
	transition-property: filter, -moz-filter, -webkit-filter;
	transition-duration: 400ms;
	transition-timing-function: ease-in; 
}

.overlay-visible {
	overflow: hidden;

	#cubeContainer {
		position:static;
	}
}
.touch {
	.overlay-visible {
		#cubeContainer {
			-webkit-transform-style: flat;
			transform-style: flat;
		}

		.face.gallery-active-face {
			-webkit-transform: initial !important;
			transform: initial !important;
		}
	}
}
// 
.no-touch {
	.overlay-visible {
		h1, h2, h3, h4, h5, h6, p, nav a, .screenshots:not(.active-gallery) {
			// accelleration for scroll performance with blur
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);

			-webkit-filter: blur(6px);
			-moz-filter: blur(6px);
			filter: blur(6px);
			pointer-events: none;
		}

		.screenshots.active-gallery {
			pointer-events: none;
			a {
				pointer-events: auto;
			}
		}
	}
}

// For browsers with no blur filter and touch devices
// touch devices so that scrolling is smooth
.no-cssfilters, .touch {
	h1, h2, h3, h4, h5, h6, p, nav a, .screenshots {
		opacity: 1;
		text-shadow: 0 0 0 transparent;
		-webkit-transition-property: text-shadow, opacity;
		-webkit-transition-duration: 400ms;
		-webkit-transition-timing-function: ease-in; 
		transition-property: text-shadow, opacity;
		transition-duration: 400ms;
		transition-timing-function: ease-in; 
	}

	.overlay-visible {
		h1, h2, h3, h4, h5, h6, p {
			opacity: 0.4;
			text-shadow: 0 0 0.125em darken($textColor, 50%);
		}
		nav a,
		.screenshots:not(.active-gallery) {
			opacity: 0.4;
			text-shadow: 0 0 0.125em $linkColor;
		}


	}
}

.touch-only {
	display: none;
}



.touch  {
	.touch-only {
		display: inherit;
	}
	.no-touch {
		display: none;
	}
}
