
h1 {
	font-size: 3.25em;
	line-height: 1em;
	margin: 0.5em 0;

	p {
		font-size: 1rem;
		margin: 0;
		line-height: 1.625em;
	}
}
h2 {
	font-size: 1.625em;
	line-height: 1em;
	margin: 1em 0;
	
	p {
		font-size: 0.55em;
		margin: 0;
	}
}

.inner {
	max-width: 48em;
	margin: 0 auto;
}

.screenshots {
	width: 30%;
	float: right;
	margin-top: 0.25em;
	font-size: 2.5em; 
	text-align: right;
}

.screenshots a {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	display: inline-block;
}