h2 {
	font-size: 1.625em;
	line-height: 1em;
	margin: 1em 0;
}

h2 p {
	font-size: 0.55em;
	margin: 0;
}

.inner {
	max-width: 48em;
	margin: 0 auto;
}

.screenshots {
	width: 30%;
	float: right;
	margin-top: 0.25em;
	font-size: 2.5em; 
	text-align: right;
}

.screenshots a {
	margin-left: 0.5em;
}