#cubeContainer { 
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
}

#cube {
	width: 100%;
	height: 100%;
}

.face {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}