@mixin cube {
	
	#cubeContainer { 
		width: 100%;
		height: 100%;
		-webkit-transform-style: preserve-3d;
	}

	#cube {
		width: 100%;
		height: 100%;
	}

	.face, .top, .middle, .bottom {
		height: 100%;
		width: 100%;
		position: absolute;

	}

	.face {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		
		padding: 1.625em;
		width: 100%;
		display: block;
	}

	.map {
		position: fixed;
		left: 0;
		bottom: 0;
		margin: 1.625em;
		
		.map-inner {
			-webkit-transition: all 350ms ease 0;
			-moz-transition: all 350ms ease 0;
			transition: all 350ms ease 0;
		}
		.group {
			@extend .map-inner;
			height: 12px;
			padding: 2px 0;
		}

		.side {
			width: 8px;
			height: 8px;
			margin-right: 4px;
			background: transparent;
			border: 1px solid $blue;
			float: left;

			&.reference {
				margin: 2px 4px 2px 0;
				position: absolute;
				background: $blue;
				top: 0;
				left: 0;
			}
		}
	}	


	// .controls {
	// 	position: fixed;
	// 	bottom: 2em;
	// 	left: 50%;
	// 	margin-left: -5em;
	// 	width: 10em;
	// 	height: 11em;
	// 	text-align: center;
	// 	-webkit-transform: translateZ(400px);

	// 	.icon-touch { 
	// 		display: none;
	// 		font-size: 3em;
	// 		top: 50%;
	// 		position: absolute;
	// 		left: 50%;
	// 		margin-top: -0.5em;
	// 		margin-left: -0.25em;
	//  	}

	// 	a {
	// 		position: absolute;
	// 		color: #aaa;

	// 		&:hover {
	// 			color: black;
	// 		}

	// 		&.icon-up {
	// 			top: 0;
	// 			left: 50%;
	// 			margin-left: -0.75em;
	// 		}
	// 		&.icon-right {
	// 			right: -0.75em;
	// 			top: 50%;
	// 			margin-top: -1.5em;
	// 		}
	// 		&.icon-down {
	// 			bottom: 0;
	// 			left: 50%;
	// 			margin-left: -0.75em;
	// 		}
	// 		&.icon-left {
	// 			left: 0;
	// 			top: 50%;
	// 			margin-top: -1.5em;
	// 		}

	// 		&:before {
	// 			font-size: 3em;
	// 			margin-left: -0.25em;
	// 		}
	// 	}
	// }

	// .controls {
	// 	pointer-events: none;

	// 	.icon-touch {
	// 		display: block;
	// 		opacity: 0;
	// 		-webkit-animation: fade-in 2s ease-in 1s 2 alternate forwards;
	// 	}

	// 	a {
	// 		opacity: 0;
	// 		-webkit-animation: fade-in 2s ease-in 2s 2 alternate forwards;
	// 	}
	// }

	// &.touched {
	// 	.controls {
	// 		.icon-touch {
	// 			display: block;
	// 			opacity: 0;
	// 			-webkit-animation: fade-in 600ms ease-in 1000ms backwards;
	// 		}

	// 		a {
	// 			opacity: 0;
	// 			-webkit-animation: fade-in 300ms ease-in 1500ms backwards;
	// 		}
	// 	}
	// }

	// @-webkit-keyframes fade-in {
	// 	0%   { opacity: 0; disply: none; }
	// 	1%   { opacity: 0; display: block;  }
	// 	50%  { opacity: 1; }
	// 	99% { opacity: 1; }
	// 	99% { opacity: 1;  }
	// }
}