#cubeContainer { 
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
}

#cube {
	width: 100%;
	height: 100%;
}

.face {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
	padding: 1.625em;
}

.controls {
	a {
		position: absolute;
		color: #ccc;
		width: 1.625em;


		&:hover {
			color: black;
		}

		&.icon-up {
			top: 0.25em;
			left: 50%;
			margin-left: -0.5em;
		}
		&.icon-right {
			right: 0;
			top: 50%;
			margin-top: -0.5em;
		}
		&.icon-down {
			bottom: 0.25em;
			left: 50%;
			margin-left: -0.5em;
		}
		&.icon-left {
			left: 0.25em;
			top: 50%;
			margin-top: -0.5em;
		}

		&:before {
			font-size: 3em;
			margin-left: -0.25em;
		}
	}
}

.touch .controls {
	display: none;
}


.map {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 1.625em;
	
	.map-inner {
		-webkit-transition: all 350ms ease 0;
		-moz-transition: all 350ms ease 0;
		transition: all 350ms ease 0;
	}
	.group {
		@extend .map-inner;
		height: 12px;
		padding: 2px 0;
	}

	.side {
		width: 8px;
		height: 8px;
		margin-right: 4px;
		background: transparent;
		border: 1px solid $blue;
		float: left;

		&.reference {
			margin: 2px 4px 2px 0;
			position: absolute;
			background: $blue;
			top: 0;
			left: 0;
		}
	}
}