

.gallery-overlay {
	@include cover;
	position: fixed; 
	min-height: 100%;
	overflow-y: scroll;
	background: rgba(0,0,0,0);
	transition: $delayedTransition;
	z-index: 20;

	&.visible { 
		/* Performance is better without radial gradient (obviously)
		background-color:rgba(0, 0, 0, 0);
		background-image: radial-gradient(center center, ellipse farthest-corner, rgba(0, 0, 0, 0), $halfBlack 100%);
		*/
		.gallery-inner {
			img {
				opacity: 1;
			}
		}

		.close {
			opacity: 1;
		}
	}
	
	.gallery-inner {
		text-align: center;
		margin: 0;
		padding: 1.625em 0 1.625em 1.625em;

		.img-wrap {
			display: block;
			position: relative;
			@include clearfix;
		}

		img { 
			display: block;
			opacity: 0;
			float: right;
			box-shadow: 0 4px 6px $halfBlack;
			transition: $imgTransition;
			transform: translateX(0) $imgZ;

			&.in {
				transition-delay: 200ms;
				transform: translateY(-100px) $imgZ;
			}

			&.out {
				position: absolute;
				right: 0;
				transform: translateY(100px) $imgZ;
			}

			&.in, &.out {
				opacity: 0;
			}
		}
	}
}

.close {
	position: fixed;
	right: 0;
	top: 0;
	padding: 0.8em;
	transition: $delayedTransition;
	font-size: 2em;
	cursor: pointer;
	opacity: 0;
	z-index: 30;
}

.overlay-visible {
	.close {
		opacity: 1;
	}
	.avatar {

	}
}

@media screen and (max-width: $small) {
	.gallery-overlay {
		top: 5em;
		padding-bottom: 5em;
		
		.inner {
			padding: 1.625em;
			min-height: 101%; //fixes disappearing X icon when image doesnt scroll	

			img { 

				&.in {
					transform: translateX(100%);
				}

				&.out {
					transform: translateX(-100%);
				}
			}
		}
		
	}
	.close {
		padding: 0.4em;
		z-index: 30;
		top: 0.4em;
		right: 0.4em;
	}
}
