

.gallery-overlay {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow-y: scroll;
	background: rgba(0,0,0,0);
	
	-webkit-transition: $delayedTransition;
	transition: $delayedTransition;
	z-index: 20;

	&.visible { 
		background: rgba(0,0,0,0.05);

		.inner {
			img {
				opacity: 1;
			}
		}

		.close {
			opacity: 1;
		}
	}
	
	.inner {
		text-align: center;
		padding: 3em 12.5em 1.625em 1.625em;

		.img-wrap {
			display: block;
			position: relative;
		}

		img { 
			display: block;
			margin: 0 auto;
			opacity: 0;
			box-shadow: 0 4px 20px rgba(0,0,0,0.2);
			
			-webkit-transition: $imgTransition;
			transition: $imgTransition;

			-webkit-transform: translateX(0) $imgZ;
			-moz-transform: translateX(0) $imgZ;
			transform: translateX(0) $imgZ;

			&.in {
				-webkit-transition-delay: 200ms;
				-moz-transition-delay: 200ms;
				transition-delay: 200ms;

				-webkit-transform: translateY(-100px) $imgZ;
				-moz-transform: translateY(-100px) $imgZ;
				transform: translateY(-100px) $imgZ;
			}

			&.out {
				position: absolute;
				left: 0;
				right: 0;

				-webkit-transform: translateY(100px) $imgZ;
				-moz-transform: translateY(100px) $imgZ;
				transform: translateY(100px) $imgZ;
			}

			&.in, &.out {

				opacity: 0;
			}
		}
	}
}

.close {
	position: fixed;
	right: 0;
	top: 0;
	padding: 0.8em;
	-webkit-transition: $delayedTransition;
	transition: $delayedTransition;
	font-size: 2em;
	cursor: pointer;
	opacity: 0;
	z-index: 30;
}

.overlay-visible {
	.close {
		opacity: 1;
	}
}

@media screen and (max-width: $small) {
	.gallery-overlay {
		top: 5em;
		padding-bottom: 5em;
		
		.inner {
			padding: 1.625em;
			min-height: 101%; //fixes disappearing X icon when image doesnt scroll	

			img { 

				&.in {
					-webkit-transform: translateX(100%);
					-moz-transform: translateX(100%);
					transform: translateX(100%);
				}

				&.out {

					-webkit-transform: translateX(-100%);
					-moz-transform: translateX(-100%);
					transform: translateX(-100%);
				}
			}
		}
		
	}
	.close {
		padding: 0.4em;
		z-index: 30;
		top: 0.4em;
		right: 0.4em;
	}
}
