@font-face {
	font-family: 'nikwhite';
	src:url('/font/nikwhite/fonts/nikwhite.eot?-snistt');
	src:url('/font/nikwhite/fonts/nikwhite.eot?#iefix-snistt') format('embedded-opentype'),
		url('/font/nikwhite/fonts/nikwhite.woff?-snistt') format('woff'),
		url('/font/nikwhite/fonts/nikwhite.ttf?-snistt') format('truetype'),
		url('/font/nikwhite/fonts/nikwhite.svg?-snistt#nikwhite') format('svg');
	font-weight: normal; 
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'nikwhite';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
	content: "\e00f";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-touch:before {
	content: "\e601";
}
.icon-right:before {
	content: "\e600";
}
.icon-cross:before {
	content: "\e117";
}


$rightIconCode: "\e600";

.icon-right:before {
	content: $rightIconCode;
}
.icon-down:before {
	content: $rightIconCode;
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.icon-left:before {
	content: $rightIconCode;
	display: inline-block;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.icon-up:before {
	content: $rightIconCode;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}