* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: "Lato";
	font-weight: 400;
	line-height: 1.625em;
	width: 100%;
	height: 100%;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

