@font-face {
	font-family: 'nikwhite';
	src:url('fonts/nikwhite.eot?9oyl5e');
	src:url('fonts/nikwhite.eot?#iefix9oyl5e') format('embedded-opentype'),
		url('fonts/nikwhite.woff?9oyl5e') format('woff'),
		url('fonts/nikwhite.ttf?9oyl5e') format('truetype'),
		url('fonts/nikwhite.svg?9oyl5e#nikwhite') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'nikwhite';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-touch:before {
	content: "\e601";
}
.icon-right:before {
	content: "\e600";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-cross:before {
	content: "\e117";
}
