.ticTacToeBoard {
    width: 100%;
}
.ticTacToeBoard tr {
    display: flex; 
    width: 100%;
    border-top: 2px solid black
}
.ticTacToeBoard tr:first-of-type {
    border-top: 0
}
.ticTacToeBoard td {
    width: 33.332%;
    border-left: 2px solid black;
    min-height: 2em;
    text-align: center;
}
.ticTacToeBoard td:first-of-type {
    border-left: none;
}

.ticTacToe button {
    margin-right: 1em;
} 
