.ticTacToeBoard {
    font-size: 24px;
    width: 9em;
    margin: 0 auto;
}
.ticTacToeBoard tr {
    display: flex; 
    width: 100%;
    border-top: 2px solid black
}
.ticTacToeBoard tr:first-of-type {
    border-top: 0
}
.ticTacToeBoard td {
    width: 3em;
    height: 2em;
    border-left: 2px solid black;
    text-align: center;
    padding: 0.325em;
}
.ticTacToeBoard td:first-of-type {
    border-left: none;
}